@import "../../styles/variables.scss";

.header {
  background: rgb(177, 222, 255);
  background: radial-gradient(
    circle,
    rgba(227, 242, 253, 0.45) 0%,
    rgba(147, 222, 247, 0.254) 78%
  );

  &-top_intersecting {
    position: fixed;
    width: 100%;
    background: rgb(235, 247, 254);
    z-index: 2;
    transition: all 1s;
  }

  &-top {
    transition: all 1s;
    padding: 20px 130px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-name {
      color: $mainBlueHeader;
      font-family: "Rubik";
      font-size: $headerFontSize32;
      font-weight: $headerLogoFontWeight;
      letter-spacing: 1px;
      justify-self: flex-start;
      margin-right: auto;
    }
    &-nav {
      &-list {
        display: flex;
        gap: 50px;
        font-size: $headerFontSize16;
        li {
          font-family: "Poppins";
          color: $headerListColor;
          opacity: 0.3;
          transition: all 0.3s ease-in;
        }
        .active-link {
          opacity: 1;
          color: $mainBlueHeader;
        }
      }
    }
    button {
      padding: 10px 20px;
      font-size: $headerFontSize14;
      background-color: $mainBlueHeader;
      font-family: "Poppins";
      border: none;
      border-radius: 5px;
      margin-left: 50px;
    }
  }

  &-info {
    padding: 100px 50px 0 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-left {
      width: 50%;
      display: flex;
      gap: 30px;
      padding-bottom: 100px;
      flex-direction: column;
      &-prev {
        font-weight: 700;
        font-size: $headerFontSize48;
        line-height: 70px;
        color: $headerH2Color;
        font-family: "Poppins";
        span {
          color: $mainBlueHeader;
        }
      }
      &-info {
        color: $headerInfoText;
        font-weight: 400;
        font-size: $headerFontSize14;
        line-height: 30px;
      }

      .header_form {
        filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.2));
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        background-color: white;
        width: max-content;
        padding: 15px;
        border-radius: 8px;
        gap: 20px;
        .header_form-select-input {
          width: 210px;
          background: rgba(245, 246, 250, 0.52);
        }
        &-search {
          width: 210px;
          background: rgba(245, 246, 250, 0.52);
          border-radius: 4px;
          border: none;
          font-size: $headerFontSize16;
          padding-left: 10px;
          border: 1px solid rgb(192, 192, 192);
        }
      }
      button {
        background-color: $mainBlueHeader;
      }
    }

    &-right::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-image: url(../../assets/images/header-doctorBG.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: -1;
      border-radius: 50%;
      animation: rotate-animation 8s infinite linear;
    }

    &-right {
      overflow: hidden;
      position: relative;
      width: 50%;
      display: grid;
      grid-template-rows: repeat(24, 1fr);
      grid-template-columns: repeat(24, 1fr);
      background-repeat: no-repeat;
      .callback {
        position: absolute;
        filter: drop-shadow(5px 4px 22px rgba(0, 0, 0, 0.2));
      }
      &-logo-1 {
        grid-column: 2/4;
        grid-row: 6/8;
      }
      &-logo-2 {
        grid-column: 6/8;
        grid-row: 2/4;
      }
      &-logo-3 {
        grid-column: 21/23;
        grid-row: 5/7;
      }
      &-image {
        grid-column: 4/2;
        grid-row: 1/25;
        display: block;
        object-fit: cover;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.2));
      }
      &-client {
        position: absolute;
        grid-row: 14/18;
        grid-column: 18/24;
        height: 112px;
        width: 160px;
        background-color: white;
        border-radius: 11px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Poppins";
        filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.2));
        &-pulse {
          width: 45px;
          animation: heartbeat 1s infinite;
          user-select: none;
        }
        h3 {
          font-weight: 600;
          font-size: $headerFontSize24;
          line-height: 36px;
          letter-spacing: 0.02em;
          color: $headerH2Color;
        }
        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: 0.02em;
          color: $headerListColor;
          opacity: 0.5;
        }
      }
      &-feedback {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
        position: absolute;
        width: 210px;
        background-color: white;
        filter: drop-shadow(0px 4px 22px rgba(0, 0, 0, 0.2));
        border-radius: 10px;
        grid-column: 2/10;
        grid-row: 19/22;
        img {
          width: 60px;
          aspect-ratio: 1;
        }

        .feedback-text {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .stars {
            display: flex;
            gap: 4px;
          }
          .skeleton {
            position: relative;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 6px;
            background: #c0ebfb;
          }
          .second {
            width: 80%;
          }

          .skeleton::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            border-radius: 5px;
            background-image: linear-gradient(
              to right,
              #c0ebfb 0%,
              rgba(0, 0, 0, 0.1) 20%,
              #c0ebfb 40%,
              #c0ebfb 100%
            );
            background-repeat: no-repeat;
            background-size: 450px 400px;
            animation: shimmer 4s linear infinite;
          }
        }
      }
    }
  }
}

@media (min-width: 1150px) and (max-width: 1300px) {
  .header {
    &-top {
      padding: 20px 100px;
    }

    &-info {
      padding: 60px 40px 0 100px;

      &-left {
        gap: 20px;
        &-info {
          width: 90%;
        }
      }

      .header_form {
        margin-top: 15px;
        .header_form-select-input {
          width: 180px;
        }
        &-search {
          width: 180px;
        }
      }
    }
  }
}

@media (min-width: 1000px) and (max-width: 1150px) {
  .header {
    &-top {
      padding: 20px 80px;
    }

    &-info {
      flex-direction: column-reverse;
      gap: 30px;
      padding: 60px 40px 0 100px;

      &-left {
        width: 80%;
        gap: 20px;
        &-info {
          width: 90%;
        }

        .header_form {
          margin: 15px auto;
          .header_form-select-input {
            width: 180px;
          }
          &-search {
            width: 180px;
          }
        }
      }

      &-right {
        width: 80%;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .header {
    &-top {
      padding: 20px 30px;
      &-nav {
        &-list {
          gap: 20px;
        }
      }
      button {
        margin-left: 20px;
      }
    }

    &-info {
      flex-direction: column-reverse;
      gap: 30px;
      padding: 60px 40px 0 60px;

      &-left {
        text-align: center;
        width: 90%;
        gap: 20px;
        &-info {
          width: 100%;
        }

        .header_form {
          margin: 15px auto;
          .header_form-select-input {
            width: 180px;
          }
          &-search {
            width: 180px;
          }
        }
      }

      &-right {
        width: 90%;
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .header {
    &-top {
      padding: 20px;
      &-name {
        font-size: 25px;
      }
      &-nav {
        &-list {
          gap: 10px;
          font-size: 14px;
        }
      }
      button {
        margin-left: 10px;
        padding: 6px;
      }
    }

    &-info {
      flex-direction: column-reverse;
      gap: 30px;
      padding: 20px;

      &-left {
        text-align: center;
        width: 100%;
        gap: 20px;
        &-prev {
          margin: 0 auto;
          width: 80%;
          font-size: 35px;
        }
        &-info {
          margin: 0 auto;

          width: 80%;
        }

        .header_form {
          margin: 15px auto;
          .header_form-select-input {
            width: 180px;
          }
          &-search {
            width: 180px;
          }
        }
      }

      &-right {
        width: 100%;
        &-image {
          grid-column: 3/25;
          grid-row: 1/25;
          display: block;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  .header {
    &-top {
      justify-content: center;

      padding: 20px;
      &-name {
        display: none;
      }
      &-nav {
        &-list {
          gap: 10px;
          font-size: 14px;
        }
      }
      button {
        font-size: 12px;
        margin-left: 10px;
        padding: 6px;
      }
    }

    &-info {
      flex-direction: column-reverse;
      gap: 30px;
      padding: 0px;

      &-left {
        padding: 0;
        text-align: center;
        width: 100%;
        gap: 20px;
        &-prev {
          margin: 0 auto;
          width: 100%;
          font-size: 28px;
          line-height: 38px;
        }
        &-info {
          margin: 0 auto;

          width: 80%;
        }

        .header_form {
          flex-direction: column;
          margin: 15px auto;
          .header_form-select-input {
            width: 300px;
          }
          &-search {
            height: 60px;
            width: 300px;
          }
          button {
            height: 60px;
          }
        }
      }

      &-right {
        width: 100%;
        &-image {
          grid-column: 3/25;
          grid-row: 1/25;
          display: block;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
        &-client {
          height: 90px;
          width: 120px;
          grid-row: 14/18;
          grid-column: 16/22;
          h3 {
            font-size: 20px;
          }
          p {
            font-size: 12px;
          }
          &-pulse {
            width: 30px;
          }
        }
        &-feedback {
          gap: 10px;
          grid-column: 2/10;
          grid-row: 22/25;
          width: 170px;
          img {
            width: 40px;
          }
        }
      }
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: 450px 0;
  }
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
