@import "../../../../styles/variables.scss";
.solution {
  padding: 100px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 70px;
    color: $headerH2Color;
  }
  &-list {
    ul {
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25%;
        h3 {
          font-weight: 500;
          font-size: 20px;
          line-height: 32px;
          color: $headerListColor;
        }
        p {
          margin-top: 20px;
          font-weight: 400;
          font-size: 12px;
          line-height: 20px;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
        }
        .item {
          height: 80px;
          width: 80px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: grey;
          img {
            height: 50px;
            width: 50px;
          }
        }

        .item-1 {
          background: linear-gradient(
            180deg,
            rgba(0, 158, 255, 0.1) 0%,
            rgba(56, 175, 255, 0.1) 100%
          );
        }
        .item-2 {
          background: radial-gradient(
            51.35% 53.44% at 48.82% 46.56%,
            rgba(255, 170, 6, 0.12) 0%,
            rgba(255, 180, 26, 0.12) 100%
          );
        }
        .item-3 {
          background: linear-gradient(
            180deg,
            rgba(0, 158, 255, 0.25) 0%,
            rgba(56, 175, 255, 0.25) 100%
          );
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1050px) {
  .solution {
    padding: 80px;
    h2 {
      font-size: 38px;
    }
    &-list {
      ul {
        margin-top: 30px;
        li {
          width: 30%;
        }
      }
    }
  }
}

@media (min-width: 600px) and (max-width: 800px){
  .solution {
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
    h2 {
      font-size: 38px;
    }
    &-list {
      ul {
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
        li {
          width: 60%;
        }
      }
    }
  }
}


@media (min-width: 360px) and (max-width: 600px){
  .solution {
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
    h2 {
      font-size: 25px;
      line-height: 45px;
    }
    &-list {
      ul {
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
        li {
          width: 60%;
        }
      }
    }
  }
}