@import "../../styles/variables.scss";

footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: 35px 140px 50px 140px;
  .contacts {
    grid-column: 1/4;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-family: "Rubik";
      font-weight: $headerLogoFontWeight;
      font-size: $headerFontSize32;
      line-height: 47px;
      letter-spacing: 1px;
      color: $mainBlueHeader;
    }
    p {
      font-weight: 400;
      font-size: $headerFontSize14;
      line-height: 180%;
      color: $headerH2Color;
    }
    .contacts-social-list {
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
  }
  .links {
    grid-column: 4/5;
    grid-row: 1/5;
  }
  .about {
    grid-column: 6/7;
    grid-row: 1/5;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 25px;
    li:first-of-type {
      font-weight: 700;
      font-size: $headerFontSize16;
      line-height: 16px;
      color: $headerListColor;
    }
    li {
      font-weight: 400;
      font-size: $headerFontSize14;
      line-height: 14px;
      color: $headerH2Color;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: 8/11;
    padding: 0 0 0 50px;
    grid-row: 1/5;
    h6 {
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      color: $headerListColor;
    }
    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 180%;
      color: $headerInfoText;
    }
    input {
      height: 40px;
      background: #ffffff;
      border: 1.1px solid #e1e2e4;
      border-radius: 5px;
      padding-left: 10px;
      color: $headerInfoText;
    }
    input::placeholder {
      color: $headerListColor;
    }
    .submit-button {
      background: $mainBlueHeader;
    }
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  footer {
    padding: 35px 100px 50px 100px;
  }
}

@media (min-width: 680px) and (max-width: 1000px) {
  footer {
    padding: 20px;

    .about {
      grid-column: 7/8;
      grid-row: 1/5;
    }
    .links {
      grid-column: 5/6;
      grid-row: 1/5;
    }
  }
}

@media (min-width: 360px) and (max-width: 680px) {
  footer {
    padding: 20px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    .contacts {
      grid-column: 1/6;
      grid-row: 1/4;
      align-self: center;
      justify-self: center;
      h2{
        font-size: 28px;
      }
      p{
        font-size: 12px;
      }
    }
    .about {
      grid-column: 2/3;
      grid-row: 4/7;
    }
    .links {
      grid-column: 4/6;
      grid-row: 4/7;
    }
    form {
      width: 80%;
      justify-self: center;
      grid-column: 1/6;
      grid-row: 7/11;
      padding: 40px 0 0 0 ;
    }
  }
}
