@import "../../../../styles//variables.scss";

.comments {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  gap: 60px;
  h2 {
    font-weight: 500;
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 0.02em;
    color: #3d3d3f;
  }

  &-slider {
    position: relative;

    width: 100%;
    padding-left: calcFluidPadding(15, 530, 360, 1440);
    padding-right: calcFluidPadding(15, 505, 360, 1440);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
    &-slides {
      display: flex;
      transition: ease-out 1000ms;
      margin: 0 auto;
      gap: 30px;
      .faded_slide {
        opacity: 0;
      }
      &-slide {
        background-color: white;
        img {
          height: 65px;
          width: 65px;
        }
        position: relative;
        user-select: none;
        padding: 20px 20px 30px 40px;
        width: 350px;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        transition: all 1s ease;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        .quotes {
          position: absolute;
          top: 0;
          left: 290px;
          transform: translate(0, -50%);
          transition: 1s ease;
        }
        .quotes_active {
          transform: rotate(180deg) translate(0, 50%);

        }
        .comment_info {
          width: 100%;
          display: flex;
          padding-right: 10px;
          justify-content: space-between;
          .comment_name_location {
            font-weight: 700;
            font-size: 20px;
            color: #3d3d3f;
            display: flex;
            flex-direction: column;
            .comment_location {
              font-weight: 400;
              font-size: 14px;
              color: $mainBlueHeader;
            }
          }
          .comment_stars {
            display: flex;
            gap: 3px;
          }
        }
      }
      .comment_text {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #454d5d;
      }
    }
    .dots {
      display: none;

      padding-left: calc(350px / 4);
      gap: 15px;
      .dot {
        cursor: pointer;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #dbe8ee;
        transition: all 1s ease;
        align-items: center;
      }
      .dot-active {
        width: 60px;
        height: 18px;
        border-radius: 10px;
        background: #40a3f8;
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1350px) {
  .comments {
    padding: 20px;
    &-slider {
      width: 100%;
    }
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .comments {
    padding: 0px;
    &-slider {
      width: 100%;
    }
    .dots {
      display: flex;
    }
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  .comments {
    padding: 0px;
    &-slider {
      width: 100%;
      padding-left: calcFluidPadding(5, 460, 360, 1440);
    }
    .dots {
      display: flex;
    }
  }
}
